body {
  margin: 0;
}

.wrap {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.wrapper {
  width: 50%;
  height: 100vh;
  display: grid;
  justify-content: center;
}


html,
body {
  height: 100%;
}
